In [33]:
# 50개 중 48개 정답

def dfs(lst,start, x, y, move_idx, tmp_lst, finish):
    # 처음인 곳으로 왔을 때 왔던 카페의 합 return
    if start == [x,y]:
        return len(tmp_lst)
    
    # 인덱스 아웃
    if x < 0 or y < 0 or x >= len(lst) or y >= len(lst):
        return 0    
    
    # 같은 숫자 카페
    if lst[x][y] in tmp_lst:
        return 0
    
    tmp_lst.append(lst[x][y])
    
    mv_idx = [[-1,-1],[-1,1],[1,1],[1,-1]]
    
    idx = mv_idx.index(move_idx)
    
    # 3가지 방향 돌고 마지막 하나의 방향만 남았을 떄
    if finish == 0:
        return dfs(lst, start, x + mv_idx[idx][0], y + mv_idx[idx][1], mv_idx[idx], tmp_lst.copy(),0)
    elif idx == 3:
        return max(dfs(lst, start, x + mv_idx[idx][0], y + mv_idx[idx][1], mv_idx[idx], tmp_lst.copy(), 1),
                   dfs(lst, start, x + mv_idx[(idx + 1)%4][0], y + mv_idx[(idx + 1)%4][1], mv_idx[(idx + 1)%4], tmp_lst.copy(), 0))
    else:
        return max(dfs(lst, start, x + mv_idx[idx][0], y + mv_idx[idx][1], mv_idx[idx], tmp_lst.copy(), 1),
                   dfs(lst, start, x + mv_idx[(idx + 1)%4][0], y + mv_idx[(idx + 1)%4][1], mv_idx[(idx + 1)%4], tmp_lst.copy(), 1))

if __name__ == "__main__":
    len_test = int(input().strip())
    for num in range(len_test):
        test_shpe = int(input().strip())
        lst = []
        for i in range(test_shpe):
            lst.append(list(map(int, input().strip().split())))
        result = 0

        for i in range(1, len(lst)):
            for j in range(1, len(lst)):
                if i != j:
                    result = max(result, dfs(lst,[i,j], i-1, j-1, [-1, -1], [lst[i][j]], 1))
        
        print("#{} {}".format(num+1, result if result else -1))

1
4
9 8 9 8
4 6 9 4
8 7 7 8
4 5 3 5
#1 6

In [22]:
import pandas as pd
pd.DataFrame(lst)

   0  1  2  3
0  9  8  9  8
1  4  6  9  4
2  8  7  7  8
3  4  5  3  5